@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

/*General page styling*/
#title {
  font-family: Abril Fatface;
  text-align: center;
  font-size: 3em;
}

body {
  background-color: #eee;
  font-family: Source Sans Pro;
}

.newspaper-container {
  background-color: white;
  border-radius: 25px;
  width: 700px;
  height: auto;
  margin: auto;
  padding: 1em;
  box-shadow: 4px 4px 8px #ddd;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  text-align: justify;
  padding: 10px 0px;
}

/*Navbar*/
nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 0.5em;
}

nav a {
  font-size: 0.85em;
  color: #777;
}

/*Main Article*/
main h2 {
  font-family: Roboto Slab;
  margin-bottom: 0;
}

main h5 {
  color: #dd3232;
  font-family: Abril Fatface;
  margin-top: 0.5em;
}

main img {
  width: 100%;
  height: auto;
}

/*more articles*/
.more-articles {
  text-align: center;
  border-top: 0.25em solid #eee;
}

.more-articles p {
  margin: 5px 10px;
}
.more-articles section {
  width: 40%;
  display: inline-block;
  margin: 2em;
}

.more-articles img {
  width: 100%;
  height: auto;
}

/*Bonus three articles
.bonus-articles {
  text-align: center;
  border-top: 0.25em solid #eee;
}

.bonus-articles section {
  width: 25%;
  display: inline-block;
  margin: 1em;
}

.bonus-articles img {
  width: 100%;
}
*/

/*Bonus articles css grid*/
.bonus-articles {
  text-align: center;
  border-top: 0.25em solid #eee;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.bonus-articles section {
  width: 90%;
  margin: 1em;
}

.bonus-articles img {
  width: 100%;
}

/*Footer bonus*/
footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
footer ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-inline-start: 0px;
}

footer li {
  display: inline-block;
  padding: 0.4em;
}

footer a {
  font-size: 0.75em;
  color: #777;
}
